<mat-toolbar>
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Book Club</span>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #sidenav mode="side" opened>
		<mat-nav-list>
			<a mat-list-item href="/books/">Books</a>
			<a mat-list-item href="/members/">Members</a>
			<a mat-list-item href="/meetings/">Meetings</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="page">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
